---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About me">
  <section>
    <h1>About</h1>
    <p>Write your introduction here.</p>
  </section>
</BaseLayout>
