---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <ul class="tags">
    {tags.map((tag) => (
      <li class="tag">{tag}</li>
    ))}
  </ul>
)}

<style>
  .tags {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  .tag {
    font-size: 0.85rem;
    padding: 0.1rem 0.5rem;
    background: #f0f0f0;
    border-radius: 2px;
  }
</style>
